<h1>Relationship info</h1>
<h2><%= @relationship.name %></h2>
  <p>follower_id: <%= relationship.follower_id %></p>
  <p>leader_id: <%= relationship.leader_id %></p>
<a href="/relationships">Back to all relationships</a>